<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SCHUNK México | Tecnología de sujeción, sistemas de agarre y
    componentes para robots |Todo lo que necesitas saber acerca de SCHUNK - Superior Clamping and Gripping  | Conoce nuestras promociones | Contactanos">
    <meta name="author" content="">
    <meta name="theme-color" content="#003D6A">
    <link rel="icon" href="img/fav.png">

    <title>SCHUNK INTEC México</title>
    <script src="https://unpkg.com/scrollreveal@4"></script>
    <script src="https://kit.fontawesome.com/43bc1f02ff.js" crossorigin="anonymous"></script>
    <!-- Bootstrap core  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    
</head>









<body data-spy="scroll" data-target="#navbarsExampleDefault">


    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                
                
                <img src="img/logo2.png" class="img-responsive" alt="Logo">
              
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item  mr-3">
                        <a class="nav-link" href="#carouselFull">Inicio</a>
                    </li>
                    <li class="nav-item  mr-3">
                        <a class="nav-link" href="#webinars">Webinars</a>
                    </li>
                   
                    <li class="nav-item  mr-3">
                        <a class="nav-link" href="#vid">ADN SCHUNK</a>
                    </li>

                    <li class="nav-item  mr-3">
                        <a class="nav-link" href="#promos">Promociones</a>
                    </li>

                    <li class="nav-item  mr-3">
                        <a class="nav-link" href="#contact">Contacto</a>
                    </li>
                   
                </ul>
            </div>
        </div>    
    </nav>




    
    <div id="carouselFull" >
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-0 align-items-center justify-content-center pt-5">
                    <div  class="col-sm-8 align-self-end">
                        <h1 id="cuadro">LA UNIÓN HACE LA FUERZA, </h1>
                        <h1>¡JUNTOS SALDREMOS ADELANTE!</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-sm-4 align-self-baseline">
                        <p class="text-white font-weight-light mb-5" > </p>
                        
                    </div>
                </div>
                

                <div class="row h-0 align-items-center justify-content-left">
                    
                    <div class="col-sm-5 align-self-end">
                        <p class=" mb-5" id="mensaje">Derivado de la situación que enfrenta actualmente el país y con motivo de la pandemia, SCHUNK te ofrece múltiples facilidades para salir adelante garantizando un excelente desempeño y productividad de tu máquina o robot.*</p>
                        
                    </div>
                </div>


            </div>
        </header>
    
    </div>

   
  

    <section  id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 pt-5 text-center">
                    <div class="about2">
                    <img src="img/sws2.png" class="img-fluid mt-3 pt-2" alt="team">
                </div>
                </div>                
                <div class="col-md-12 col-lg-6 p-5 text-light">
                    <div class="about">
                    <h2 >Acerca de Nosotros</h2>
                    <p>SCHUNK Intec México, una empresa líder en fabricación de sistemas de
                        sujeción y productos para automatización y robótica. Es un líder tecnológico
                        que opera a través del mundo con representaciones en más de 50 países. <br> <br>
                        Su crecimiento se ha basado en la innovación de sus productos que les ha
                        permitido alcanzar una posición líder en mercados como el europeo.</p>
                        <div>
                            <a class="boton-link2" href="/productos">Nuestros productos</a>
                            </div>
                    </div>

                    
                </div>
                
            </div>
        </div>
    </section>


  <%- include ('partials/webinars.ejs') %>  


    <section id="vid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-light pb-5">
                   <h2 class="mb-3"> <i class="fas fa-dna"></i> ADN del Líder SCHUNK</h2>                    
                    <p > - Es honesto, integro y respeta a sus colegas.</p>
                   <p>- Participa y promueve el trabajo en equipo. </p>
                   <p>- Se muestra pro-activo, con iniciativa y orientado a resultados.</p>
                   <p>- Está verdaderamente comprometido con su trabajo y su entorno.</p>
                   <p>- Promueve la competitividad, mejora e innova en todo lo que hace. </p>
                </div>
                <div class="d-none d-md-block col-xs-12 col-sm-12 col-md-12 col-lg-6 text-center">
                    <div id="muteYouTubeVideoPlayer"></div>
                </div>
            </div>
        </div>
    </section>
  
    
   
     <section id="plx">
        <div class="container">
            <div class="wtitle text-center text-light">
                <h1 class=numero> No. 1 </h1>
                <h2>Para agarre preciso<br> y sujeción segura.</h2>
            </div>
        </div> 
   </section>
   
 

<div id="promos" class="container">
    <div class="starter-template">
        <h1 class="mb-5" id="azul">Conoce nuestras promociones</h1>
        <p > En SCHUNK tenemos las mejores promociones para que tu empresa tenga el mejor retorno de inversión. </p>
        <p > Selecciona la promoción de tu interés y presiona el botón para ver lo que SCHUNK tiene para ti.</p>
    </div>
    <div class="row text-center pb-4">
        <div class="col-md-12 col-lg-4 p-1">
            <img src="img/imagenesPromos280x280_TENDO.png" class=" p-3" alt="TENDO" width="320" height="320">
            <h4 id="sesion" class="text-left pl-4 mx-4" id="azul">TENDO</h4>
           
            <p class="text-left pl-4 mx-4" id="cyan">Conoce las tres promociones en tecnología de portaherramientas TENDO E compact.</p>
           <div class="pl-4">
            <a class="boton-link mb-5 ml-4 float-left" href="promos/Promo TENDO E compact.pdf"  role="button">Ver promo</a></div>
        </div>
        <div class="col-md-12 col-lg-4 p-1">
            <img src="img/imagenesPromos280x280_Mordazas.png" class=" p-3" alt="mordazas" width="320" height="320">
            <h4 id="sesion" class="text-left pl-4 mx-4" id="azul">Mordazas para Chuck</h4>
            
            <p class="text-left pl-4 mx-4" id="cyan">10, 20 y hasta 30% de descuento en mordazas comprando a partir de 10 juegos. </p>
            <div class="pl-4">
            <a class="boton-link mb-5 ml-4 float-left" href="promos/Promoción mordazas SCHUNK.pdf"  role="button">Ver promo</a>
        </div></div>
        <div class="col-md-12 col-lg-4 p-1">
            <img src="img/imagenesPromos280x280_THW.png" class=" p-3" alt="THW" width="320" height="320">
            <h4 id="sesion" class="text-left pl-4 mx-4" id="azul">ROTA NCK plus</h4>
            <p class="text-left pl-4 mx-4" id="cyan">Descubre como ganar un certificado de 500 USD en la compra de productos ROTA NCK plus.</p>
            <div class="pl-4">
            <a class="boton-link mb-5 ml-4  float-left" href="promos/Promo ROTA-NCK plus SCHUNK-MX_.pdf"  role="button">Ver promo</a>
        </div></div> 
    </div>
    <div class="row text-center pb-4">
        <div class="col-md-12 col-lg-4 p-1">
            <img src="img/imagenesPromos280x280_THW-NCX.png" class=" p-3" alt="THW" width="320" height="320">
            <h4 id="sesion" class="text-left pl-4 mx-4" id="azul">ROTA THW & NCX</h4>
            <p class="text-left pl-4 mx-4" id="cyan">Puedes llevarte GRATIS las mordazas, la
                instalación y 3 años de garantía. </p>
                <div class="pl-4">
            <a class="boton-link mb-5 ml-4 float-left" href="promos/promo SCHUNK-MX_ROTA-THW-NCX.pdf"  role="button">Ver promo</a>
                    </div>
        </div>
        <div class="col-md-12 col-lg-4 p-1">
            <img src="img/imagenesPromos280x280_MAGNOS.png" class=" p-3" alt="Magnos" width="320" height="320">
            <h4 id="sesion" class="text-left pl-4 mx-4" id="azul">MAGNOS</h4>
            <p class="text-left pl-4 mx-4" id="cyan">¡Descubre como obtener precios especiales
                en aplicaciones magnéticas!</p>
                <div class="pl-4">
            <a class="boton-link mb-5 ml-4 float-left" href="promos/promo F-MAGNOS_2020-03.pdf"  role="button">Ver promo</a>
        </div></div>
        <div class="col-md-12 col-lg-4 p-1">
            <img src="img/PGNplusP.png" class="p-3" alt="pgn" width="320" height="320">
            <h4 id="sesion"  class="text-left mx-4 pl-4" id="azul">PGN-plus-P</h4>
            <p class="text-left pl-4 mx-4" id="cyan">¡Descubre como puedes cambiar tu Gripper viejo por uno NUEVO!</p>
            <div class="pl-4">
            <a class="boton-link mb-5 ml-4 float-left" href="promos/2004_Prom_PGN-plus-P.pdf"  role="button">Ver promo</a>
        </div></div>
       
    </div>

    <div class="row text-center pb-4">
        <div class="col-md-12 col-lg-4 p-1">
            <img src="img/smr.png" class=" p-3" alt="SRM" width="320" height="320">
            <h4 id="sesion" class="text-left pl-3 mx-4" id="azul">Unidad de Giro Universal SRM</h4>
            <p class="text-left pl-4 mx-4" id="cyan">La unidad de giro universal
                con más potencia en el mercado. </p>
                <div class="pl-3">
            <a class="boton-link mb-5 ml-4 float-left" href="promos/2004_Promo-SRM.pdf"  role="button">Ver promo</a>
        </div></div>
        
        <div class="col-md-12 col-lg-4 p-1">
            <img src="img/Tool.png" class=" p-3" alt="SMR" width="320" height="320">
            <h4 id="sesion" class="text-left pl-4 mx-4" id="azul">Tool Changer</h4>
            <p class="text-left pl-4 mx-4" id="cyan">Sistema de cambio de herramienta neumático con sistema de bloqueo patentado.</p>
                <div class="pl-4">
            <a class="boton-link mb-5 ml-4 float-left" href="promos/2004_Promo-Tool-Changer.pdf"  role="button">Ver promo</a>
        </div></div>
    </div>
</div>



<section id="numbers">
    <div class="container">
        <div class="text-center text-light pb-5">
            <h2></h2>
        </div>
        <div class="row text-center text-light">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h3 class="numd">Más de</h3>
                <h2 id="contador" class="numc mx-5"><span class='numscroller' data-min='1' data-max='2000000' data-delay='35' data-increment='2005'>0</span></h2>
                <h3 class="numd mx-5">Portaherramientas de precisión vendidos</h3>
                <hr class="divider my-4" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h3 class="numd pr-2">Cerca de</h3>
                <h2 id="contador" class="numc   mx-5"><span class='numscroller' data-min='1' data-max='1000000' data-delay='35' data-increment='1305'>0</span></h2>
                <h3 class="numd mx-5">De módulos de agarre entregados</h3>
                <hr class="divider my-4" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pr-3">
                <h3 class="numd">Más de</h3>
                <h2 id="contador" class="numc text-center mx-5" ><span class='numscroller' data-min='1' data-max='16000000' data-delay='35' data-increment='9050'>0</span></h2>
                <h3 class="numd mx-5">De mordazas para chucks vendidas</h3>
                <hr class="divider my-4" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h3 class="numd">Más de</h3>
                <h2 id="contador2" class="numc  mx-auto"><span class='numscroller' data-min='1' data-max='100000' data-delay='35' data-increment='200'>0</span></h2>
                <h3 class="numd mx-5 ">Chucks y sistemas de sujeción estacionaria en uso </h3>
                <hr class="divider my-4" />
            </div>
        </div>
    </div>
</section>


<section id="contact">
    <div class="container">
        <div class="text-left ml-2 mb-5">
            <h1 id="azul">SCHUNK</h1>
            <h2 id="azul" > Superior Clamping and Gripping</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 pb-5">
                
                
                <h3 id="azul" class="py-4">¡Ponte en contacto ahora!</h3>
               <div class="py-3">
                <p>Presentes en plataformas digitales para una mejor atención, siempre estamos disponibles para usted.</p>
                    <p>Asesoramiento personal a través de todos lo canales de comunicación.</p>

                    <p>Contactanos y agenda ahora tu video-conferencia</p>
                    </div>

                <h4 id="azul"> 
                    <i class="fas fa-phone  mb-4"  ></i>  <a href="tel:+52-442 211 7800">+52-442 211 7800</a></h4>

                  

                  <a class="d-block" href="mailto:info@mx.schunk.com"><h4 id="correo">  <i class="fas fa-envelope  mb-4"  ></i>   info@mx.schunk.com</h4></a>
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <form>
                   <div class="form-group">
                       <h3 id="azul" class="py-4">Contacto</h3>
                       <label for="exampleFormControlInput1"><h4 id="azul">Nombre</h4></label>
                       <input name="name" type="text" class="form-control" id="subject" placeholder="">
                   </div>
                   <div class="form-group">
                    <label for="exampleFormControlInput1"><h4 id="azul">Empresa</h4></label>
                    <input name="name" type="text" class="form-control" id="company" placeholder=" ">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1"><h4 id="azul">Número de teléfono</h4></label>
                    <input name="name" type="text" class="form-control" id="number" placeholder=" +52-442 211 7800">
                </div>
                   <div class="form-group">
                       <label for="exampleInputEmail1"><h4 id="azul">Correo electrónico</h4></label>
                       <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder=" E-mail">
                   </div>
                   <div class="form-group">
                       <label for="exampleFormControlTextarea1"><h4 id="azul">Mensaje</h4></label>
                       <textarea name="text" class="form-control" id="text" placeholder="En que le podemos servir" rows="3"></textarea>
                   </div>
                   <button type="submit" value="Submit" class="boton-link">Enviar</button>
               </form>
            </div>
        </div>
    </div>
   
</section>





<section id="map">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ2Qt9WIJa04URdEAhfm7ZBMs&key=AIzaSyAH0KVKLk-Yp0HCfCMmKC-kt394YjOPcwI" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>
<%- include ('partials/footer') %> 
    
    <div id="bttp" class="btt">
        <a href="#"><i class="fa fa-arrow-circle-up"></i></a>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $("form").on("submit", e => {
          e.preventDefault();
  
          const email = $("#email")
            .val()
            .trim();
          const subject = $("#subject")
            .val()
            .trim();
          const texto = $("#text")
            .val()
            .trim();
            const company = $("#company")
            .val()
            .trim();
            const number = $("#number")
            .val()
            .trim();
                   const text= "Compañia:  "+company+"   Número:  "+number+" \nMensaje:  "+texto;

          const data = {
            email,
            subject,
            text
          };
  
          $.post("/email", data)
            .then(() => {
              window.location.href = "/";
            })
            .catch(() => {
              window.location.href = "/error";
            });
        });
      </script>

<script>
    ScrollReveal().reveal('.about', { delay: 550,  duration: 1100  });
    ScrollReveal().reveal('.about2', { delay: 750,  duration: 1600  });
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script>$('body').scrollspy({ target: '#navbarsExampleDefault', offset: 108 })</script>

    <script src="js/smooth-scroll.js"></script>
  
    <script src="js/jquery.vide.js"></script> 
    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
    </script>
 
    <script src="js/nsc.js"></script>
    <!-- Video Youtube -->
    <script async src="https://www.youtube.com/iframe_api"></script>
    <script>
     function onYouTubeIframeAPIReady() {
      var player;
      player = new YT.Player('muteYouTubeVideoPlayer', {
        videoId: 'nbbwRS4Pbl8', // YouTube Video ID
        width: 560,               // Player width (in px)
        height: 316,              // Player height (in px)
        playerVars: {
          autoplay: 1,        // Auto-play the video on load
          controls: 1,        // Show pause/play buttons in player
          showinfo: 0,        // Hide the video title
          modestbranding: 1,  // Hide the Youtube Logo
          loop: 1,            // Run the video in a loop
          fs: 0,              // Hide the full screen button
          cc_load_policy: 0, // Hide closed captions
          iv_load_policy: 3,  // Hide the Video Annotations
          autohide: 0         // Hide video controls when playing
        },
        events: {
          onReady: function(e) {
            e.target.mute();
          }
        }
      });
     }

     // 
    </script>
    <script>
        myID = document.getElementById("bttp");

        var myScrollFunc = function() {
          var y = window.scrollY;
          if (y >= 1200) {
            myID.className = "btt show"
          } else {
            myID.className = "btt hide"
          }
        };

        window.addEventListener("scroll", myScrollFunc);
    </script>
</body>
</html>             