<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('partials/head')  %>  
 <link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/owl.theme.default.css">
<link rel="stylesheet" href="css/carousel.css">
<link rel="stylesheet" href=css/productos.css>
<script src="https://unpkg.com/scrollreveal@4"></script>
</head>
<body>
    <%- include ('partials/nav') %>
    <section id="productos" class="slider">
        
        <div id="owl-demo" class="owl-carousel owl-theme">
 
            <div class="item"><img src="img/s1.png" alt="Clamping">
            <h4 class="pl-3 pt-2" id="cyan"><a id="cyan" href="https://schunk.com/de_en/clamping-technology/category/clamping-technology/">Clamping Technology</a> </h4>
            </div>
            <div class="item"><img class="mt-2" src="img/s2.png" alt="Gripping"><h4 class="pl-3 pt-2" id="cyan">Gripping Systems</h4>
            </div>
            
            <div class="item"><img src="img/s3r.jpg" alt="depaneling">
                <h4 class="pl-3 pt-2"id="cyan">Stand-alone depaneling machines</h4>
            </div>
           
          </div>



          
          
    </section>
    

    <hr class="divider my-2" />
    <div id="productos" class="container">
     
        <h2 class="text-left py-5 pl-4" id="azul">Clamping Technology</h2>
        <div class="row text-center pb-4">
            
            <div class="col-md-12 col-lg-4 p-1">
                <img src="img/mordaza.jpg" class="zoom p-3" alt="TENDO" width="320" height="320">
                <h5 class="text-left pl-4 mx-4" id="azul">MORDAZAS para Chuck</h5>
               
                <p class="text-left pl-4 mx-4" >Con la gama más amplia de 
                    más de 1,200 mordazas para 
                    chucks estándar, encontrará 
                    la solución de sujeción 
                    perfecta para su aplicación. 
                    Disponible para todos 
                    los fabricantes de chucks para 
                    torno. 
                    </p>
               <div class="pl-4">
                <a class="boton-link mb-5 ml-4 float-left" href="https://schunk.com/es_es/tecnologia-de-sujecion/category/tecnologia-de-sujecion/torno/garras-para-chuck-de-torno/"  role="button">Ver más</a></div>
            </div>

            <div class="col-md-12 col-lg-4 p-1">
                <img src="img/ROTA-S -plus-2.0.jpg" class="zoom p-3" alt="mordazas" width="320" height="320">
                <h5 id="sesion" class="text-left pl-4 mx-4" id="azul">Chucks para Torno</h5>
                
                <p class="text-left pl-4 mx-4">Desde un chuck manual hasta un 
                    chuck automático para torno con 
                    sistemas de cambio rápido de 
                    mordazas y fuerzas de sujeción 
                    máximas, SCHUNK ofrece un 
                    chuck para torno más versátil 
                    para cada aplicación.
                     </p>
                <div class="pl-4">
                <a class="boton-link mb-5 ml-4 float-left" href="https://schunk.com/es_es/tecnologia-de-sujecion/category/tecnologia-de-sujecion/torno/chucks-de-torno/"  role="button">Ver más</a>
             </div>
            </div>

            <div class="col-md-12 col-lg-4 p-1">
                <img src="img/tendo-e-compact.png" class="zoom p-3" alt="THW" width="320" height="320">
                <h5 id="sesion" class="text-left pl-4 mx-4" id="azul">Portaherramientas</h5>
                <p class="text-left pl-4 mx-4">Cada aplicación presenta requisitos distintos. Especialmente cuando se necesita precisión, no hay lugar para desacuerdos. Aquí es donde SCHUNK entra en juego, con su tecnología. Los portaherramientas innovadores y de precisión cubren un rango único. </p>
                <div class="pl-4">
                <a class="boton-link mb-5 ml-4  float-left" href="https://schunk.com/es_es/tecnologia-de-sujecion/category/tecnologia-de-sujecion/centro-de-maquinado/portaherramientas/"  role="button">Ver más</a>
            </div></div> 
        </div>
        <div class="row text-center pb-4">
            <div class="col-md-12 col-lg-4 p-1">
                <img src="img/nse-s3.jpg" class="zoom p-3" alt="THW" width="320" height="320">
                <h5 id="sesion" class="text-left pl-4 mx-4" id="azul">Sistemas de cambio rápido VERO-S </h5>
                <p class="text-left pl-4 mx-4" >VERO-S de SCHUNK es el sistema modular de cambio rápido de pallets que permite una conversión muy rápida y precisa de piezas de trabajo, dispositivos de sujeción u otros equipos en centros de maquinado modernos. Al combinarlo con otros productos y sistemas de la gama de sistemas de sujeción estacionarios de SCHUNK, el VERO-S ofrece combinaciones casi ilimitadas. </p>
                    <div class="pl-4">
                <a class="boton-link mb-5 ml-4 float-left" href="https://schunk.com/es_es/tecnologia-de-sujecion/category/tecnologia-de-sujecion/centro-de-maquinado/sistemas-de-cambio-rapido-de-pallets/"  role="button">Ver más</a>
                        </div>
            </div>
            <div class="col-md-12 col-lg-4 p-1">
                <img src="img/magnos-mfrs.jpg" class="zoom p-3" alt="Magnos" width="320" height="320">
                <h5 id="sesion" class="text-left pl-4 mx-4" id="azul">Tecnología de sujeción magnética </h5>
                <p class="text-left pl-4 mx-4" >Los centros de maquinado modernos están diseñados para realizar operaciones de maquinado complejas en una única instalación. Dado que las piezas se pueden colocar de forma plana sobre las mesas magnéticas MAGNOS, es posible acceder fácilmente a todos los lados de la pieza.  Maquinado de piezas de 5 lados con extensiones de polo Sujeción, sin deformación
                    Sujeción con baja vibración. </p>
                    <div class="pl-4">
                <a class="boton-link mb-5 ml-4 float-left" href="https://schunk.com/es_es/tecnologia-de-sujecion/category/tecnologia-de-sujecion/centro-de-maquinado/tecnologia-de-sujecion-magnetica/"  role="button">Ver más</a>
            </div></div>
            <div class="col-md-12 col-lg-4 p-1">
                <img src="img/kontec.jpg" class="zoom p-3" alt="pgn" width="320" height="320">
                <h5 id="sesion"  class="text-left mx-4 pl-4" id="azul">Sistemas de sujeción manual </h5>
                <p class="text-left pl-4 mx-4" >Los sistemas de sujeción manuales de SCHUNK hacen que su producción sea mucho más eficiente. Tanto la clásica prensa manual de los productos KONTEC como las prensas de sujeción por fuerza manuales de los productos TANDEM o los chucks estacionarios: SCHUNK tiene la solución de sujeción adecuada para su aplicación. En combinación con el sistema de cambio rápido de pallets VERO-S, los tiempos de preparación se reducen hasta un 90 %. </p>
                <div class="pl-4">
                <a class="boton-link mb-5 ml-4 float-left" href="https://schunk.com/es_es/tecnologia-de-sujecion/category/tecnologia-de-sujecion/centro-de-maquinado/sistemas-de-sujecion-manual/"  role="button">Ver más</a>
            </div></div>
           
        </div>
    
        <div class="row text-center pb-4">
            <div class="col-md-12 col-lg-4 p-1">
                <img src="img/tombstone.jpg" class="zoom p-3" alt="SRM" width="320" height="320">
                <h5 id="sesion" class="text-left pl-3 mx-4" id="azul">Tombstones</h5>
                <p class="text-left pl-4 mx-4" >Los centros de maquinado horizontales, solo desarrollan su capacidad de rendimiento máximo, cuando se combinan los tombstones y los sistemas de sujeción adecuados. Los tombstones de sujeción SCHUNK también ofrecen una accesibilidad y un maquinado óptimos de sus piezas. </p>
                    <div class="pl-3">
                <a class="boton-link mb-5 ml-4 float-left" href="https://schunk.com/es_es/tecnologia-de-sujecion/category/tecnologia-de-sujecion/centro-de-maquinado/tombstones/"  role="button">Ver más</a>
            </div></div>
            
            <div class="col-md-12 col-lg-4 p-1">
                <img src="img/depanel.png" class="zoom p-3" alt="SMR" width="320" height="320">
                <h5 id="sesion" class="text-left pl-4 mx-4" id="azul">Depanelizadoras</h5>
                <p class="text-left pl-4 mx-4" >Las máquinas universales y modulares de SCHUNK 
                    establecen nuevos estándares de precisión, velocidad 
                    y productividad en el proceso de depanelizado de PCBs. 
                    Realizando el corte, utilizando un disco de sierra o una 
                    fresa sólida de manera eficiente, en sistemas Stand Alone 
                    o In line, totalmente personalizadas. 
                    </p>
                    <div class="pl-4">
                <a class="boton-link mb-5 ml-4 float-left" href="https://schunk.com/de_en/gripping-systems/highlights/depaneling-machine-for-separating-circuit-boards-from-schunk/"  role="button">Ver más</a>
            </div></div>
        </div>
    </div>
    



    <hr class="divider my-2" />
    <div id="productos" class="container">
      
        <h2 class="text-left py-5 pl-4 " id="azul">Gripping systems</h2>
        <div class="row text-center pb-4">
            
            <div class="col-md-12 col-lg-4 p-1">
                <img src="img/mpg.png" class="zoom p-3" alt="grippers" width="320" height="320">
                <h5 class="text-left pl-4 mx-4" id="azul">Grippers</h5>
               
                <p class="text-left pl-4 mx-4" >Ya sea fina o robusta, con dos, tres o cuatro dedos prensores, paralela o autocentrante, e independientemente de si necesita pinzas de apilado o de gran recorrido. SCHUNK le ofrece todo en su catálogo de productos, incluso la mano de agarre de cinco dedos prensores SVH de la gama de sistemas de agarre móviles
                    </p>
               <div class="pl-4">
                <a class="boton-link mb-5 ml-4 float-left" href="https://schunk.com/mx_es/sistemas-de-agarre/category/sistemas-de-agarre/pinzas-schunk/"  role="button">Ver más</a></div>
            </div>

            <div class="col-md-12 col-lg-4 p-1">
                <img src="img/RP.png" class="zoom p-3" alt="mordazas" width="320" height="320">
                <h5 id="sesion" class="text-left pl-4 mx-4" id="azul">Módulo de agarre giratorio</h5>
                
                <p class="text-left pl-4 mx-4">Ofrecemos módulos de agarre giratorios de forma estándar como módulos de agarre giratorios compactos, paralelos, centrantes y angulares. Para un posicionamiento de las piezas de trabajo con diferentes pesos en espacios reducidos.
                     </p>
                <div class="pl-4">
                <a class="boton-link mb-5 ml-4 float-left" href="https://schunk.com/mx_es/sistemas-de-agarre/category/sistemas-de-agarre/pinzas-schunk/modulo-de-agarre-giratorio/"  role="button">Ver más</a>
             </div>
            </div>

            <div class="col-md-12 col-lg-4 p-1">
                <img src="img/cambio-sws.png" class="zoom p-3" alt="THW" width="320" height="320">
                <h5 id="sesion" class="text-left pl-4 mx-4" id="azul">Sistemas de cambio</h5>
                <p class="text-left pl-4 mx-4">Mediante sistemas de cambio SCHUNK, para el cabezal del robot, es posible aumentar la versatilidad, la eficiencia, reducir los tiempos de ciclo y aumentar la seguridad en el proceso. Las pinzas, herramientas y otros elementos, pueden sustituirse rápidamente mediante cambios automáticos o manuales.</p>
                <div class="pl-4">
                <a class="boton-link mb-5 ml-4  float-left" href="https://schunk.com/mx_es/sistemas-de-agarre/category/sistemas-de-agarre/accesorios-de-robotica/cambiador/"  role="button">Ver más</a>
            </div></div> 
        </div>
      
    
      
        </div>
    </div>
    

    <%- include ('partials/mapa') %> 
    <%- include ('partials/footer') %> 
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/owl.autoplay.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/carousel.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>



</html>