<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('partials/head')  %>  
 <script src="js/archivo.js"></script>

</head>
<body>
    <%- include ('partials/nav') %>


    <header class="webinar">


    </header>
    <section id="archivo" >
        <div class="movil">
        <h2   class="Text-left pb-2  pt-5">Archivo de Webinars SCHUNK intec México</h2>
        </div>
        <p>Acceda a la gran variedad de webinars que tenemos para usted. <br>
             Cada enlace redirecciona a la repetición del webinar en el canal oficial de SCHUNK INTEC México</p>
             <P>Mantenemos esta sección activa, añadiendo webinars constantemente</P>
         

         <div id="lista" class="pb-5">
             <h4>Primer Ciclo</h4>
            <a class="web"   href="https://youtu.be/MzSCKzLpsS0">Portaherramientas Hidráulicos de Precisión</a>
            <p>Webinar Impartido por Ing. Efraín Diego - Ingeniero de Soporte Synergy Norte</p>
            <a class="web"   href="https://youtu.be/m36TAEVH_pY">Nuevas Tecnologías en Depanelizado Stand Alone</a>
            <p>Webinar Impartido por Ing. Gustavo Morales - Ingeniero de Soporte Depanelizadoras Bajío</p>
            <a class="web"   href="https://youtu.be/1YZirhkXYTI">Gripper PGN plus P</a>
            <p>Webinar Impartido por Ing. Daniel Esquivel - Ingeniero de Soporte Gripping Systems Bajío</p>
            <a class="web"   href="https://youtu.be/VcvKZ_BpZ9s">Cálculo de Fuerza para Gripper</a>
            <p>Webinar Impartido por Ing. Juan Carlos Corral - Especialista de Producto Gripping Systems</p>
            <a class="web" href="https://youtu.be/9vXm8ksXaSg">Lubricación y Comprobación de Fuerza para Chucks</a>
            <p >Webinar Impartido por Ing. Isidoro Hernández - Ingeniero de Aplicaciones Gripping Sistems</p>




         </div>
    </section>
    <%- include ('partials/mapa') %> 
    <%- include ('partials/footer') %> 

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>



</html>