<section id="footer">
    <div class="container">
        <div class="row">


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="pl-3 text-light text-left">
                    <p class="pt-1"><br>© 2020-SCHUNK  INTEC S.A. DE C.V.</p>
                    <a class="text-light" href="/privacidad">Política de privacidad</a>
                </div>
            </div>



            <div class="blogo col-xs-12 col-sm-12 col-md-12 col-lg-4">
              
                <div class="py-4 pl-3 text-light text-left">
                     <div class="text-left "><b>SCHUNK INTEC S.A. DE C.V.</b></div>
                        Calle Pirineos #513<br> Nave 6
                        Zona Industrial Benito Juárez<br>
                        76120 Querétaro, Qro. México

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">


                <div class="pl-3 pt-1 ftaw text-light text-center">
                    
                    <div class= "pt-5 text-left">
                     <br>Teléfono:   +52-442 211 7800
                        
                                       
                    </div>

                    <div class=" text-left pb-3">
                     
                    Correo: info@mx.schunk.com
                                       
                    </div>

                    
                </div>
            </div>
            
           

            
        </div>
    </div>
</section>