<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="SCHUNK México | Tecnología de sujeción, sistemas de agarre y
componentes para robots |Todo lo que necesitas saber acerca de SCHUNK - Superior Clamping and Gripping  | Conoce nuestras promociones | Contactanos">
<meta name="author" content="">
<meta name="theme-color" content="#003D6A">
<link rel="icon" href="img/fav.png">

<title><%=title%> </title>
<script src="https://kit.fontawesome.com/43bc1f02ff.js" crossorigin="anonymous"></script>
<!-- Bootstrap core  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Custom CSS -->
<link href="css/custom.css" rel="stylesheet">
<!-- Font Awesome CSS -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

