<section id="map">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ2Qt9WIJa04URdEAhfm7ZBMs&key=AIzaSyAH0KVKLk-Yp0HCfCMmKC-kt394YjOPcwI" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>